@import 'https://fonts.googleapis.com/css2?family=Heebo:wght@400;
500;
700;
800&display=swap';
*{
    padding:0;
    margin:0
}
body{
    background-color:#fff;
    font-family:heebo,sans-serif;
    font-size:15px;
    line-height:26px;
    color:#8d9aa8;
    font-weight:400;
    letter-spacing:-.2px;
    position:relative;
    overflow-x:hidden
}
h1,h2,h3,h4,h5,h6{
    font-family:heebo,sans-serif;
    -webkit-font-smoothing:antialiased;
    color:#13287c
}
h1{
    font-size:45px;
    font-weight:700;
    line-height:55px;
    margin:0 0 10px;
    color:#13287c
}
h2{
    font-size:32px;
    line-height:38px;
    color:#13287c;
    margin:0 0 10px;
    font-weight:600;
    letter-spacing:-1px
}
h3,h4{
    margin:0 0 10px;
    font-weight:600;
    line-height:1.5;
    color:#13287c;
    letter-spacing:-.5px
}
h3{
    font-size:20px
}
h4{
    font-size:16px
}
h5,h6{
    font-size:14px;
    margin:0 0 10px
}
img{
    border:none;
    outline:none;
    max-width:100%
}
ul{
    display:block;
    list-style:none;
    padding:0;
    margin:0
}
p,li,a,span{
}
p{
    font-size:15px;
    line-height:26px;
    margin-bottom:15px
}
a,a:hover{
    text-decoration:none
}
a:focus{
    outline:0;
    text-decoration:none
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
    color:#ddd!important
}
input:-moz-placeholder,textarea:-moz-placeholder{
    color:#ddd!important
}
input::-moz-placeholder,textarea::-moz-placeholder{
    color:#ddd!important
}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{
    color:#ddd!important
}
button{
    border:none;
    background:0 0
}
::-webkit-scrollbar{
    width:8px;
    height:8px
}
::-webkit-scrollbar-thumb{
    cursor:pointer;
    background:#F7B500
}
::selection{
    background-color:#F7B500;
    color:#fff
}
-webkit-::selection{
    background-color:#F7B500;
    color:#fff
}
::-moz-selection{
    background-color:#F7B500;
    color:#fff
}
.padding{
    padding:100px 0
}
.no-padding{
    padding:0
}
.padding-15{
    padding:15px
}
.padding-20{
    padding:20px
}
.box-padding{
    padding:0 50px
}
.bg-white{
    background-color:#fff
}
.bg-grey{
    background-color:#f9fafa
}
.bg-dark{
    background-color:#242323!important
}
.bd-top{
    border-top:1px solid #eee
}
.bd-bottom{
    border-bottom:1px solid #eee
}
.mb-10{
    margin-bottom:10px
}
.mb-15{
    margin-bottom:15px
}
.mb-20{
    margin-bottom:20px
}
.mb-25{
    margin-bottom:25px
}
.mb-30{
    margin-bottom:30px
}
.mb-35{
    margin-bottom:35px
}
.mb-40{
    margin-bottom:40px
}
.mb-45{
    margin-bottom:45px
}
.mb-50{
    margin-bottom:50px
}
.ml-15{
    margin-left:15px
}
.ml-20{
    margin-left:20px
}
.ml-25{
    margin-left:25px
}
.ml-30{
    margin-left:30px
}
.ml-35{
    margin-left:35px
}
.mt-20{
    margin-top:20px
}
.mt-30{
    margin-top:30px
}
.mt-40{
    margin-top:40px
}
.mt-50{
    margin-top:50px
}
.fz-28{
    font-size:28px
}
.fz-24{
    font-size:24px
}
.fz-22{
    font-size:22px
}
.fz-20{
    font-size:20px
}
.fz-18{
    font-size:18px
}
.fz-16{
    font-size:16px
}
.pt-80{
    padding-top:80px
}
.loaded .site-preloader-wrap{
    opacity:0;
    visibility:hidden
}
.site-preloader-wrap{
    position:fixed;
    z-index:999;
    height:100%;
    width:100%;
    background:#fff;
    top:0;
    left:0
}
.site-preloader-wrap .spinner{
    background-color:#F7B500;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-20px;
    margin-top:-20px
}
.spinner{
    width:40px;
    height:40px;
    border-radius:100%;
    -webkit-animation:sk-scaleout 1s infinite ease-in-out;
    animation:sk-scaleout 1s infinite ease-in-out
}
@-webkit-keyframes sk-scaleout{
    0%{
        -webkit-transform:scale(0)
    }
    100%{
        -webkit-transform:scale(1);
        opacity:0
    }
}
@keyframes sk-scaleout{
    0%{
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    100%{
        -webkit-transform:scale(1);
        transform:scale(1);
        opacity:0
    }
}
.btn-group{
}
.btn-group a{
    margin:5px
}
.btn-group-left a{
    margin-right:10px
}
.default-btn{
    display:inline-block;
    background:#F7B500;
    color:#13287e;
    font-family:heebo,sans-serif;
    font-size:15px;
    font-weight:600;
    height:45px;
    line-height:45px;
    padding:0 35px;
    letter-spacing:0;
    border-radius:3px;
    overflow:hidden;
    position:relative;
    transition:all ease 700ms;
    -moz-transition:all ease 700ms;
    -webkit-transition:all ease 700ms;
    -ms-transition:all ease 700ms;
    -o-transition:all ease 700ms;
    z-index:1
}
.default-btn:hover{
    color:#fff
}
.default-btn span{
    background:#13287c none repeat scroll 0 0;
    border-radius:50%;
    display:block;
    height:0;
    position:absolute;
    transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    transition:width .6s ease 0s,height .6s ease 0s;
    -moz-transition:width .6s ease 0s,height .6s ease 0s;
    -webkit-transition:width .6s ease 0s,height .6s ease 0s;
    -ms-transition:width .6s ease 0s,height .6s ease 0s;
    -o-transition:width .6s ease 0s,height .6s ease 0s;
    width:0;
    z-index:-1
}
.default-btn:hover span{
    height:562.5px;
    width:562.5px
}
.section-heading img{
    width:50px;
    height:50px;
    margin-bottom:20px
}
.section-heading h2{
    font-size:42px;
    font-weight:700;
    line-height:45px;
    display:block;
    letter-spacing:-1px
}
.section-heading h4{
    display:inline-block;
    text-transform:uppercase;
    font-size:12px;
    color:#13287c;
    font-weight:600;
    letter-spacing:0;
    font-family:heebo,sans-serif;
    position:relative;
    margin-bottom:10px;
    z-index:1
}
.section-heading .learn-more{
    color:#13287c;
    font-weight:500;
    text-decoration:underline
}
.section-heading .learn-more:hover{
    opacity:.8
}
.slick-slide:focus{
    outline:none
}
.nav-style .slick-arrow{
    border:1px solid #8d9aa8;
    width:40px;
    height:40px;
    line-height:40px;
    font-size:16px;
    color:#8d9aa8;
    border-radius:50%;
    text-align:center;
    position:absolute;
    left:-40px;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
    z-index:10
}
.nav-style .slick-arrow.right{
    left:auto;
    right:-40px
}
.carousel-dots .slick-dots{
    text-align:center;
    margin-top:30px
}
.carousel-dots .slick-dots li{
    display:inline-block;
    margin:0 4px
}
.carousel-dots .slick-dots li button{
    display:inline-block;
    background-color:#8d9aa8;
    width:10px;
    height:10px;
    border-radius:50%;
    overflow:hidden;
    text-indent:-999px
}
.carousel-dots .slick-dots li.slick-active button{
    background-color:#F7B500
}
.carousel-dots .slick-dots li button:focus{
    outline:none
}
@media(max-width:767px){
    .nav-style .slick-arrow{
        left:0
    }
    .nav-style .slick-arrow.right{
        left:auto;
        right:0
    }
}
a,a:hover,img,.form-control,.form-control:hover,button{
    -webkit-transition:all .5s;
    -o-transition:all .5s;
    transition:all .5s
}
#scrollup{
    position:fixed;
    bottom:30px;
    right:30px;
    z-index:999
}
.scroll-to-top{
    width:100%;
    height:100%;
    text-align:center;
    font-size:10px;
    padding:0;
    line-height:40px;
    color:#fff;
    border-radius:50%;
    text-decoration:none;
    transform:translateY(150%);
    transition:all .3s ease-in-out;
}
.scroll-to-top img{
    height: 60px;
}
#scrollup.show{
    opacity:1
}
#scrollup.show .scroll-to-top{
    transform:translateY(0);
    transition:all .3s ease-in-out
}
.scroll-to-top:hover{
    color:#fff;
    text-decoration:none;
    opacity:.8;
    transition:all .3s ease-in-out
}
.scroll-to-top:focus{
    outline:none
}
.header{
    background-color:#fff;
    width:100%;
    height:auto;
    display:block;
}
.header-logo img{
    max-width:90%
}
.sticky-header{
    width:100%;
    position:fixed;
    left:0;
    top:0;
    transform:translateY(-100%);
    z-index:99
}
.sticky-header .primary-header{
    background-color:#fff;
    box-shadow:0 2px 5px -2px rgba(0,0,0,.1)
}
.admin-bar .sticky-header{
    top:32px
}
.admin-bar .header{
    margin-top:32px
}
.admin-bar .header-three{
    margin-top:0
}
.sticky-header.sticky-fixed-top{
    transition:transform .25s ease-in-out;
    will-change:transform
}
.sticky-header.sticky-fixed-top{
    transform:translateY(0)
}
.header ul{
    margin:0;
    padding:0;
    list-style:none
}
.mobile-menu-icon{
    display:none
}
.burger-menu{
    width:20px;
    height:17px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    cursor:pointer;
    -webkit-transition:transform 330ms ease-out;
    -moz-transition:transform 330ms ease-out;
    -o-transition:transform 330ms ease-out;
    transition:transform 330ms ease-out
}
.burger-menu.menu-open{
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg)
}
.line-menu{
    background-color:#222;
    border-radius:2px;
    width:100%;
    height:3px
}
.line-menu.line-half{
    width:50%
}
.line-menu.first-line{
    transition:transform 330ms cubic-bezier(.54,-.81,.57,.57);
    transform-origin:right
}
.menu-open .line-menu.first-line{
    -webkit-transform:rotate(-90deg) translateX(3px);
    -moz-transform:rotate(-90deg) translateX(3px);
    -o-transform:rotate(-90deg) translateX(3px);
    transform:rotate(-90deg) translateX(3px)
}
.line-menu.last-line{
    align-self:flex-end;
    transition:transform 330ms cubic-bezier(.54,-.81,.57,.57);
    transform-origin:left
}
.menu-open .line-menu.last-line{
    -webkit-transform:rotate(-90deg) translateX(-3px);
    -moz-transform:rotate(-90deg) translateX(-3px);
    -o-transform:rotate(-90deg) translateX(-3px);
    transform:rotate(-90deg) translateX(-3px)
}
.header-menu-wrap ul{
    margin:0;
    padding:0;
    list-style:none
}
.header-menu-wrap ul li{
    display:inline-block;
    position:relative
}
.header-menu-wrap ul li>a{
    display: block;
    font-family: heebo,sans-serif;
    font-size: 21px;
    letter-spacing: 0;
    font-weight: 600;
    color: #13287e;
    padding: 0 0 0 45px;
    height: 80px;
    line-height: 80px;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}
.header-menu-wrap ul li:hover>a{
    color:#F7B500
}
.header-menu-wrap li ul{
    background-color:#fff;
    display:block;
    width:250px;
    padding:30px 0;
    -webkit-box-shadow:0 50px 100px 0 rgba(64,1,4,.1),0 -6px 0 0 rgba(248,99,107,.004);
    box-shadow:0 50px 100px 0 rgba(64,1,4,.1),0 -6px 0 0 rgba(248,99,107,.004);
    position:absolute;
    left:-35px;
    top:100%;
    opacity:0;
    visibility:hidden;
    z-index:0;
    -webkit-transition:opacity .5s ease,visibility .5s ease;
    -o-transition:opacity .5s ease,visibility .5s ease;
    transition:opacity .5s ease,visibility .5s ease
}
.header-menu-wrap li:hover>ul{
    opacity:1;
    visibility:visible;
    z-index:99
}
.header-menu-wrap li li{
    display:block;
    padding:0 25px;
    margin-bottom:5px;
    text-align:left;
    position:relative
}
.header-menu-wrap li li:last-child{
    margin:0
}
.header-menu-wrap li li>a{
    font-family:heebo,sans-serif;
    display:block;
    height:auto;
    line-height:inherit;
    color:#13287e;
    font-weight:500;
    letter-spacing:0;
    line-height:1.8;
    text-transform:capitalize;
    padding:8px;
    font-size:14px;
    -webkit-font-smoothing:antialiased
}
.header-menu-wrap li li:hover>a{
    color:#13287e;
    background-color:#F7B500
}
.header-menu-wrap li ul li ul{
    width:250px;
    position:absolute;
    left:100%;
    top:0
}
@media(min-width:993px){
    .header-menu-wrap li ul{
        display:block!important
    }
}
@media(max-width:1200px){
    #page.site{
        margin-top:0!important
    }
    .headroom--top .header-menu-wrap,.headroom--unpinned .header-menu-wrap{
        display:none!important
    }
    .dropdown-plus{
        width:49px;
        height:49px;
        line-height:49px;
        position:absolute;
        top:0;
        right:0;
        cursor:pointer
    }
    .dropdown-plus:before,.dropdown-plus:after{
        position:absolute;
        content:'';
        top:21px;
        right:10px;
        width:13px;
        height:1px;
        background-color:#222
    }
    .dropdown-plus:after{
        -webkit-transform:rotate(90deg);
        -moz-transform:rotate(90deg);
        -o-transform:rotate(90deg);
        transform:rotate(90deg)
    }
    .dropdown-plus.dropdown-open:after{
        display:none
    }
    .mobile-menu-icon{
        display:block
    }
    .header-menu-wrap{
        display:none;
        background-color:#fff;
        width:100%;
        height:auto;
        padding:0 20px;
        position:absolute;
        left:0;
        top:100%;
        z-index:999
    }
    .header-menu-wrap ul li{
        display:block;
        border-bottom:1px solid rgba(0,0,0,.04);
        padding:11px 0;
        margin:0
    }
    .header-menu-wrap ul li:first-child{
        border-top:1px solid rgba(0,0,0,.04)
    }
    .header-menu-wrap ul li>a{
        padding:10px 15px;
        height:inherit;
        line-height:inherit
    }
    .header-menu-wrap li li:hover>a{
        background-color:transparent
    }
    .header-menu-wrap ul li ul li ul,.header-menu-wrap ul li ul{
        background-color:transparent;
        width:100%;
        opacity:1;
        padding:0;
        visibility:visible;
        position:inherit;
        display:none;
        top:inherit;
        left:inherit;
        box-shadow:none;
        padding-top:11px
    }
    .header-menu-wrap li li{
        padding-left:11px
    }
    .header-menu-wrap li li:last-child{
        border-bottom:none;
        padding-bottom:0
    }
    .header-menu-wrap li li>a{
        color:#13287e;
        font-size:13px
    }
    .header-menu-wrap li li:hover>a{
        color:#666
    }
    .primary-header-two .header-right a.header-btn{
        margin:0
    }
    .header-two .mid-header .header-logo{
        text-align:center
    }
}
@media screen and (max-width:782px){
    .admin-bar .sticky-header{
        top:0
    }
    .admin-bar .header{
        margin-top:0;
        padding-top:46px
    }
}
@media(max-width:580px){
    .header-right a.dl-btn{
        line-height:40px;
        font-size:10px;
        padding:0 25px
    }
    .primary-header .header-logo{
        max-width:300px
    }
    .top-bar .top-left li{
        font-size:12px
    }
}
.primary-header-inner .header-right{
    display:flex;
    align-items:center;
    line-height:80px;
    margin-left:20px
}
.header-right .mobile-menu-icon{
    margin-left:20px
}
.header-right a.header-btn{
    display:inline-block;
    background:#F7B500;
    color:#13287e;
    font-family:heebo,sans-serif;
    font-size:15px;
    font-weight:600;
    height:45px;
    line-height:45px;
    padding:0 35px;
    letter-spacing:0;
    border-radius:2px;
    overflow:hidden;
    position:relative;
    margin-left:20px;
    transition:all ease 700ms;
    -moz-transition:all ease 700ms;
    -webkit-transition:all ease 700ms;
    -ms-transition:all ease 700ms;
    -o-transition:all ease 700ms;
    z-index:1
}
.header-right a.header-btn:hover{
    color:#fff
}
.header-right a.header-btn span{
    background:#13287c none repeat scroll 0 0;
    border-radius:50%;
    display:block;
    height:0;
    position:absolute;
    transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    transition:width .6s ease 0s,height .6s ease 0s;
    -moz-transition:width .6s ease 0s,height .6s ease 0s;
    -webkit-transition:width .6s ease 0s,height .6s ease 0s;
    -ms-transition:width .6s ease 0s,height .6s ease 0s;
    -o-transition:width .6s ease 0s,height .6s ease 0s;
    width:0;
    z-index:-1
}
.header-right a.header-btn:hover span{
    height:562.5px;
    width:562.5px
}
.header-right .search-icon{
    color:#13287e;
    cursor:pointer
}
.header-right .search-icon:hover{
    opacity:.8
}
.primary-header-inner{
    display:flex;
    align-items:center;
    justify-content:space-between;
    position:relative
}
.primary-header .header-logo{
    max-width: 460px;
    position: absolute;
    top: -30px;
}


.top-bar-inner{
    display:flex;
    align-items:center;
    justify-content:space-between;
    color:#fff
}
.top-bar .top-left li{
    font-size:14px;
    color:#fff;
    display:inline-block;
    padding-right:20px;
    padding-left:20px;
    border-right:1px solid #444;
    margin:0;
    padding-top:7px;
    padding-bottom:7px
}
.top-bar .top-left li:first-child{
    border-left:1px solid #444
}
.top-bar .top-left li a{
    color:#fff;
    text-decoration:none
}

.top-bar .top-social li{
    display:inline-block;
    margin-left:13px
}
.top-bar .top-social li:first-child{
    margin-left:0
}
.top-bar .top-social li a{
    color:#fff
}
.top-bar .top-social li a:hover{
    color:#ddd
}
@media(max-width:767px){
    .top-bar .top-right{
        display:none
    }
    .top-bar .top-left li,.top-bar .top-left li:first-child{
        border:none
    }
    .top-bar .top-left li{
        padding-left:0;
        padding-right:20px
    }
}
.viewport-sm .primary-header-one{
}
.primary-header-one .header-menu-wrap{
    margin-left:auto
}
.header-cart-btn{
    margin-left:10px
}
.header-cart-btn a{
    color:#13287e;
    font-size:18px;
    text-decoration:none;
    position:relative
}
.header-cart-btn a .num{
    position:absolute;
    width:16px;
    height:16px;
    border-radius:50%;
    background:#F7B500;
    color:#fff;
    font-size:11px;
    display:block;
    top:-8px;
    right:-9px;
    line-height:16px;
    text-align:center
}
.header-two{
    border-bottom:4px solid #F7B500;
    position:relative
}
.header-two .mid-header{
    padding:30px 0 70px
}
.header-two .mid-header{
    padding:30px 0
}
.header-two .mid-header .mid-header-inner{
    display:flex;
    align-items:center;
    justify-content:space-between
}
.header-two .mid-header .header-logo{
    max-width:180px
}
.header-two .mid-header ul{
}
.header-two .mid-header ul li{
    display:inline-block;
    padding-left:50px;
    position:relative;
    line-height:20px;
    font-family:heebo,sans-serif;
    text-transform:uppercase;
    font-size:12px;
    letter-spacing:0;
    font-weight:600
}
.header-two .mid-header ul li:not(:last-of-type){
    margin-right:40px
}
.header-two .mid-header ul li .icon{
    color:#F7B500;
    text-align:center;
    width:50px;
    height:50px;
    line-height:50px;
    font-size:35px;
    position:absolute;
    left:0;
    top:50%;
    transform:translateY(-50%)
}
.header-two .mid-header ul li span{
    display:block;
    font-family:heebo,sans-serif;
    font-size:16px;
    font-weight:600;
    color:#13287e;
    text-transform:capitalize
}
.header-two .mid-header ul li a{
    text-decoration:none
}
.header-two .mid-header ul li a:hover{
    opacity:.9
}
.header-two .primary-header{
    width:100%;
    position:absolute;
    left:0;
    bottom:0;
    transform:translateY(50%);
    z-index:9
}
.header-two .primary-header{
    background-color:#13287e;
    position:inherit;
    transform:translateY(0)
}
.primary-header-two .header-menu-wrap ul li>a{
    color:#fff;
    padding-right:30px;
    padding-left:0
}
.primary-header-two .header-menu-wrap ul li>a:hover{
    color:#F7B500
}
.primary-header-two .header-menu-wrap li li>a{
    color:#13287e
}
.primary-header-two .header-menu-wrap li li:hover>a:hover{
    color:#F7B500
}
.primary-header-two .header-right .search-icon{
    color:#fff
}
.primary-header-two .header-menu-wrap li ul{
    left:-20px
}
.primary-header-two .header-menu-wrap li ul li ul{
    left:100%
}
.sticky-header .primary-header-two{
    box-shadow:none;
    background-color:transparent
}
.header-2 .sticky-header{
    background-color:#13287e;
    -webkit-box-shadow:0 50px 100px 0 rgba(64,1,4,.1),0 -6px 0 0 rgba(248,99,107,.004);
    box-shadow:0 50px 100px 0 rgba(64,1,4,.1),0 -6px 0 0 rgba(248,99,107,.004)
}
.primary-header-two .header-right .header-cart-btn a{
    color:#fff
}
@media(max-width:1200px){
    .header-two{
        border:none
    }
    .header-two .primary-header{
        background-color:#13287e;
        position:inherit;
        transform:translateY(0)
    }
    .header-two .mid-header{
        padding:20px 0
    }
    .header-two .mid-header-right{
        display:none
    }
    .header-two .primary-header-inner{
        padding:20px 0
    }
    .header-2 .sticky-header .primary-header-inner{
        padding:10px 0
    }
    .primary-header-inner{
        padding:0
    }
    .sticky-header .primary-header-inner{
        padding:0
    }
    .primary-header-two .primary-header-inner .header-right{
        margin-left:0;
        justify-content:center;
        width:100%
    }
    .header-two .mid-header .mid-header-inner{
        justify-content:center
    }
    .viewport-sm .primary-header-two .header-right .search-icon{
        display:inherit
    }
    .cart-enable.primary-header-two .header-right .header-cart-btn,.primary-header-two .header-right .search-icon{
        margin-right:auto
    }
    .cart-enable.primary-header-two .header-right .search-icon{
        margin-right:0
    }
    .primary-header-two .header-right .mobile-menu-icon{
        margin-left:auto
    }
    .primary-header-two .header-right .line-menu{
        background-color:#fff
    }
    .primary-header-two .header-menu-wrap ul li ul li ul,.primary-header-two .header-menu-wrap ul li ul{
        left:inherit
    }
    .primary-header-two .header-menu-wrap li li:hover>a,.primary-header-two .header-menu-wrap li li>a,.primary-header-two .header-menu-wrap ul li>a{
        color:#13287e
    }
    .header-1 .header-right a.header-btn{
        margin-left:15px;
        margin-right:0
    }
}
.header-three{
    background-color:transparent;
    position:absolute;
    top:32px;
    margin:0;
    border-bottom:1px solid rgba(255,255,255,.2);
    z-index:99
}
.header-three .line-menu{
    background-color:#fff
}
.header-three .top-bar{
    background-color:transparent;
    border-bottom:1px solid rgba(255,255,255,.2)
}
.header-three .top-bar .top-left li{
    border-right:1px solid rgba(255,255,255,.2)
}
.header-three .top-bar .top-left li:first-child{
    border-left:1px solid rgba(255,255,255,.2)
}
.header-three .top-bar .top-social{
    border-right:1px solid rgba(255,255,255,.2);
    border-left:1px solid rgba(255,255,255,.2)
}
.primary-header-three .header-menu-wrap,.header-three .header-menu-wrap{
    margin-left:auto
}
.header-three .header-menu-wrap ul li>a{
    color:#fff
}
.header-three .header-menu-wrap ul li:hover>a{
    color:#fff
}
.header-three .header-menu-wrap li li>a{
    color:#13287e
}
.header-three .header-menu-wrap li li:hover>a:hover{
    color:#F7B500
}
.primary-header-three .header-right .header-cart-btn a,.header-three .header-right .search-icon{
    color:#fff
}
.sticky-header .primary-header-three .header-right .header-cart-btn a{
    color:#13287e
}
@media screen and (max-width:782px){
    .admin-bar .header-three{
        top:0
    }
}
@media(max-width:1200px){
    .header-menu-wrap{
        top:100%
    }
    .primary-header-three .header-right .line-menu{
        background-color:#fff
    }
    .sticky-header .primary-header-three .header-right .line-menu{
        background-color:#222
    }
    .primary-header-three .header-menu-wrap ul li ul li ul,.primary-header-three .header-menu-wrap ul li ul{
        left:inherit
    }
    .primary-header-three .header-menu-wrap ul li:hover>a,.primary-header-three .header-menu-wrap li li:hover>a,.primary-header-three .header-menu-wrap li li>a,.primary-header-three .header-menu-wrap ul li>a{
        color:#13287e
    }
    .primary-header .header-logo{
        max-width:190px
    }
    .primary-header-three .primary-header-inner{
        padding:0
    }
}
#dl-popup-search-box{
    background-color:rgba(0,0,0,.95);
    position:fixed;
    width:100%;
    height:100%;
    top:-20em;
    left:0;
    right:0;
    white-space:nowrap;
    z-index:9999;
    opacity:0;
    visibility:hidden;
    -webkit-transition:500ms ease all;
    -moz-transition:500ms ease all;
    transition:500ms ease all
}
.box-inner-wrap:hover{
    cursor:url("../img/cross.png"),auto
}
#dl-popup-search-box.toggled{
    top:0;
    opacity:1;
    visibility:visible
}
#dl-popup-search-box .box-inner-wrap{
    width:100%;
    height:100%
}
#dl-popup-search-box .box-inner-wrap form{
    position:relative;
    margin:0 auto
}
#dl-popup-search-box .box-inner-wrap input::-webkit-input-placeholder{
    color:#444
}
#dl-popup-search-box .box-inner-wrap input:-ms-input-placeholder{
    color:#444
}
#dl-popup-search-box .box-inner-wrap input::placeholder{
    color:#444
}
#dl-popup-search-box .box-inner-wrap input{
    width:90%;
    padding:0 0 .125em;
    background:0 0;
    border:none;
    border-bottom:3px solid #13287e;
    font-size:4em;
    color:#ddd
}
#dl-popup-search-box .box-inner-wrap input:focus{
    outline:none
}
#dl-popup-search-box .box-inner-wrap button{
    position:absolute;
    display:block;
    width:10%;
    right:0;
    top:0;
    background:0 0;
    border:none;
    color:#444;
    font-size:4em;
    -webkit-transition:500ms ease all;
    -moz-transition:500ms ease all;
    transition:500ms ease all
}
#dl-popup-search-box .box-inner-wrap button:hover{
    color:#ddd
}
#dl-popup-search-box .box-inner-wrap button:focus{
    outline:none
}
@media screen and (max-width:600px){
    #dl-popup-search-box .box-inner-wrap form{
        width:90%
    }
    #dl-popup-search-box .box-inner-wrap input,#dl-popup-search-box .box-inner-wrap button{
        font-size:3em
    }
}
.hero-section{
    background-image:url("../img/hero-bg.jpg");
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    width:100%;
    height:550px;
    display:flex;
    align-items:center;
    position:relative
}
.hero-section svg{
    position:absolute;
    left:0;
    bottom:0
}
.hero-content h4{
    color:#247ffb
}
.hero-section.video{
    background-image:url("../img/video-bg.jpg")
}
.hero-section.video .hero-content h1{
}
.hero-section.hero-2{
    background-image:url("../img/hero-bg-2.jpg");
    background-repeat:no-repeat;
    background-position:bottom center;
    width:100%;
    height:600px;
    position:relative;
    overflow:hidden
}
.cleaner{
    background-image:url("../img/women.png");
    background-repeat:no-repeat;
    background-position:right bottom;
    width:605px;
    height:672px;
    position:absolute;
    right:80px;
    bottom:-100px
}
.about-section{
    position:relative
}
.about-content p{
    margin-bottom:20px
}
.about-list{
    margin-bottom:20px
}
.about-list li{
    display:flex;
    align-items:flex-start;
    margin-bottom:15px
}
.about-list li:last-child{
    margin-bottom:0
}
.about-list li i{
    color:#247ffb;
    width:40px;
    height:40px;
    line-height:36px;
    text-align:center;
    border-radius:50%;
    border:2px solid #247ffb;
    display:inline-block;
    margin-right:20px;
    margin-top:5px
}
.about-list li h3{
    margin-bottom:0
}
.about-btn{
}
.about-btn li{
    display:inline-flex;
    align-items:center
}
.about-list-content{
    flex:1
}
.about-btn li a{
    margin-right:30px
}
.about-btn li .whatsapp i{
    color:#25d366;
    font-size:40px;
    margin-right:10px
}
.about-btn li .whatsapp{
    display:flex;
    align-items:center;
    font-size:18px;
    font-weight:600;
    color:#13287c
}
.about-bg-wrap{
    position:relative;
    z-index:1
}
.about-bg-wrap .exp-box{
    background-color:#fff;
    padding:30px;
    border-radius:2px;
    text-align:center;
    display:inline-block;
    position:absolute;
    left:140px;
    top:40px;
    z-index:1;
    -webkit-box-shadow:0 50px 100px 0 rgba(64,1,4,.1),0 -6px 0 0 rgba(248,99,107,.004);
    box-shadow:0 50px 100px 0 rgba(64,1,4,.1),0 -6px 0 0 rgba(248,99,107,.004)
}
.about-bg-wrap .exp-box h3{
    color:#F7B500;
    display:block;
    font-size:62px;
    line-height:42px;
    margin:0
}
.about-bg-wrap .exp-box h3 span{
    color:#13287c;
    display:block;
    font-size:15px;
    font-family:heebo,sans-serif;
    font-weight:600;
    line-height:20px;
    margin-top:10px
}
.about-bg-wrap .front{
    transform:translateY(120px)
}
.about-bg-wrap .img-2{
    width:370px;
    height:auto;
    position:absolute;
    left:240px;
    top:0;
    border-radius:2px;
    z-index:-1
}
.about-bg-holder{
    position:relative;
    height:100%
}
.about-bg-holder img{
    border-radius:2px
}
.bg-right{
    position:absolute;
    width:auto;
    height:400px;
    right:20px;
    top:0
}
.bg-bottom{
    width:400px;
    height:auto;
    position:absolute;
    bottom:-80px;
    left:0
}
.bg-center{
    position:absolute;
    bottom:60px;
    left:50px;
    z-index:1
}
.about-list-2{
    margin-bottom:20px
}
.about-list-2 li{
    margin-bottom:10px
}
.about-list-2 li i{
    font-size:15px;
    color:#247ffb;
    margin-right:10px
}
.service-section{
}
.service-card{
    border-radius:3px;
    -webkit-box-shadow:0 50px 100px 0 rgba(64,1,4,.1),0 -6px 0 0 rgba(248,99,107,.004);
    box-shadow:0 50px 100px 0 rgba(64,1,4,.1),0 -6px 0 0 rgba(248,99,107,.004)
}
.service-thumb{
    position:relative;
    overflow:hidden;
    z-index:1
}
.service-thumb img{
    z-index:-1
}
.service-content{
    background-color:#fff;
    text-align:center;
    padding:0 40px 40px;
    margin-top:-50px;
    position:relative
}
.service-icon{
    background-color:#fff;
    text-align:center;
    width:100px;
    height:100px;
    line-height:100px;
    border-radius:50%;
    margin-bottom:20px;
    display:inline-block;
    position:relative;
    z-index:1;
    -webkit-box-shadow:0 50px 100px 0 rgba(64,1,4,.1),0 -6px 0 0 rgba(248,99,107,.004);
    box-shadow:0 50px 100px 0 rgba(64,1,4,.1),0 -6px 0 0 rgba(248,99,107,.004)
}
.service-content h3 a{
    color:#13287c
}
.service-content .read-more{
    background-color:#247ffb;
    width:50px;
    height:50px;
    line-height:50px;
    text-align:center;
    color:#fff;
    border-radius:50%;
    display:inline-block;
    font-size:15px;
    position:absolute;
    left:50%;
    bottom:-25px;
    transform:translateX(-50%);
    visibility:hidden;
    opacity:0;
    -webkit-transition:all .2s cubic-bezier(.37,.31,.2,.85);
    transition:all .2s cubic-bezier(.37,.31,.2,.85)
}
.service-card:hover .read-more{
    transform:translateX(-50%)scale(1.1);
    visibility:visible;
    opacity:1
}
.service-card:hover .service-thumb img{
    transform:scale(1.05)
}
@media(max-width:1200px){
    .service-content .read-more{
        width:40px;
        height:40px;
        line-height:40px;
        bottom:-18px
    }
}
.work-process-section{
    background-image:url("../img/bg-shape.svg");
    width:100%;
    height:100%;
    position:relative
}
.process-border{
    background-image:url("../img/wave-border.png");
    background-repeat:no-repeat;
    background-position:center center;
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:10px
}
.work-pro-item{
    text-align:center
}
.work-pro-item i{
    background-color:#F7B500;
    color:#fff;
    font-size:40px;
    width:100px;
    height:100px;
    line-height:100px;
    border-radius:50%;
    margin-bottom:20px;
    -webkit-box-shadow:0 50px 100px 0 rgba(64,1,4,.1),0 -6px 0 0 rgba(248,99,107,.004);
    box-shadow:0 50px 100px 0 rgba(64,1,4,.1),0 -6px 0 0 rgba(248,99,107,.004)
}
.features-section{
    padding-left:50px;
    position:relative
}
.features-bg{
    background-image:url("../img/features-bg.jpg");
    background-repeat:no-repeat;
    background-position:right center;
    background-size:cover;
    position:absolute;
    right:0;
    top:0;
    height:100%;
    width:45%
}
.feature-item{
    display:flex;
    align-items:flex-start
}
.feature-icon{
    margin-right:15px;
    margin-top:5px
}
.feature-content{
}
.feature-content h3{
    margin-bottom:0
}
@media(max-width:1200px){
    .features-section{
        padding:0
    }
    .features-bg{
        display:none
    }
    .features-section .col-lg-6.padding{
        padding:0 15px
    }
}
.book-section{
    background-image:url("../img/bg-shape.svg");
    width:100%;
    height:100%
}
.booking-form{
    background-color:#fff;
    padding:50px;
    margin:0 30px;
    border-radius:3px;
    margin-top:-200px;
    text-align:center;
    -webkit-box-shadow:0 50px 100px 0 rgba(64,1,4,.1),0 -6px 0 0 rgba(248,99,107,.004);
    box-shadow:0 50px 100px 0 rgba(64,1,4,.1),0 -6px 0 0 rgba(248,99,107,.004)
}
.form-heading{
}
.form-heading h2{
    margin-bottom:30px
}
.booking-form .form-control{
    background-color:#fafafa;
    width:100%;
    height:45px;
    line-height:45px;
    border-radius:2px;
    border:1px solid #eee;
    color:#13287c;
    font-weight:500;
    outline:none;
    box-shadow:none
}
.booking-form .form-control:focus{
    border:1px solid #F7B500
}
.booking-form .form-control.address{
    height:150px
}
.booking-form .nice-select{
    width:100%
}
.booking-form .nice-select .option.selected{
    display:none
}
.booking-form .nice-select.form-control span{
    font-size:15px;
    color:#13287c;
    display:block;
    line-height:30px
}
.booking-form .nice-select .list{
    border-radius:2px;
    border:1px solid #eee
}
.booking-form .nice-select .option{
    font-weight:500;
    color:#13287c
}
.booking-form .nice-select .option:hover,.booking-form .nice-select .option.focus,.booking-form .nice-select .option.selected.focus{
    background-color:#F7B500;
    color:#13287c
}
.booking-form .default-btn{
    width:100%
}
.booking-form .default-btn:hover{
    background-color:#13287c;
    color:#fff
}
#form-messages{
    display:none;
    margin-top:15px;
    margin-bottom:0
}
#form-messages.alert-danger,#form-messages.alert-success{
    display:block
}
.cta-section{
    background-image:url("../img/blue-bg.jpg");
    background-repeat:no-repeat;
    background-position:center center;
    width:100%;
    height:100%;
    position:relative;
    padding:150px 0
}
.cta-section svg{
    position:absolute;
    left:0;
    bottom:-10px
}
.cta-content{
    text-align:center
}
.cta-content img{
    width:100px;
    margin-bottom:20px
}
.cta-content h2{
    font-size:42px;
    line-height:48px;
    color:#fff;
    margin-bottom:20px
}
.cta-content p{
    font-size:16px;
    font-weight:500;
    color:#fff;
    margin-bottom:20px
}
.cta-section.cta-2{
    padding:50px 0
}
.cta-section.cta-2 .cta-content h2{
    margin-bottom:0;
    color:#fff;
    font-size:32px
}
.project-section{
}
.project-section .container-fluid{
    padding:0
}
.project-item{
    position:relative;
    overflow:hidden
}
.project-item img{
    width:100%
}
.project-inner{
    position:relative;
    overflow:hidden
}
.project-inner:before{
    background:linear-gradient(to bottom,rgba(36,127,251,0) 0%,#247ffb 100%);
    position:absolute;
    content:"";
    width:100%;
    height:100%;
    left:0;
    top:0;
    visibility:hidden;
    opacity:0;
    transform:translateY(50%);
    transition:all .3s ease
}
.project-item:hover .project-inner:before{
    transform:translateY(0);
    visibility:visible;
    opacity:1
}
.project-inner h3{
    position:absolute;
    width:100%;
    height:auto;
    left:30px;
    bottom:30px;
    display:block;
    color:#fff;
    margin-bottom:0;
    visibility:hidden;
    opacity:0;
    transform:translateY(50%);
    transition:all .3s ease;
    transition-delay:.2s
}
.project-item:hover h3{
    transform:translateY(0);
    visibility:visible;
    transition-delay:.2s;
    opacity:1
}
.project-inner h3 a{
    color:#fff
}
.project-inner h3 span{
    background-color:#F7B500;
    width:100px;
    height:25px;
    text-align:center;
    line-height:25px;
    display:block;
    font-size:14px;
    color:#13287c;
    border-radius:2px;
    margin-bottom:8px
}
.project-carousel.nav-style .slick-arrow{
    background-color:#fff;
    border:none;
    left:0;
    color:#13287c;
    height:60px;
    line-height:60px;
    border-radius:2px
}
.project-carousel.nav-style .slick-arrow:hover{
    background-color:#F7B500;
    color:#13287c
}
.project-carousel.nav-style .slick-arrow.right{
    left:auto;
    right:0
}
.sidebar-item{
    padding:50px 40px;
    background-color:#f9fafa
}
.sidebar-item h2{
    margin-bottom:20px
}
.project-meta{
}
.project-meta li{
    margin-bottom:25px
}
.project-meta li:last-child{
    margin-bottom:0
}
.project-meta li span{
    font-size:15px;
    font-weight:600;
    margin-right:10px;
    color:#13287c
}
.project-descriptio-list li{
}
.project-descriptio-list li i{
    color:#247ffb;
    margin-right:10px
}
.slick-slide img{
    width:100%
}
.project-details-carousel.nav-style .slick-arrow{
    background-color:#fff;
    border-radius:2px;
    left:0;
    border:none;
    height:60px;
    line-height:60px
}
.project-details-carousel.nav-style .slick-arrow.right{
    left:auto;
    right:0
}
.pricing-section{
    background-image:url("../img/bg-shape.svg");
    width:100%;
    height:100%
}
.pricing-item{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    -webkit-box-shadow:0 50px 100px 0 rgba(64,1,4,.1),0 -6px 0 0 rgba(248,99,107,.004);
    box-shadow:0 50px 100px 0 rgba(64,1,4,.1),0 -6px 0 0 rgba(248,99,107,.004)
}
.pricing-head{
    background-color:#247ffb;
    padding:40px 40px 70px;
    position:relative;
    text-align:center;
    width:100%
}
.pricing-head svg{
    position:absolute;
    width:100%;
    height:auto;
    left:0;
    bottom:0
}
.pricing-head h2{
    color:#F7B500;
    font-size:48px;
    margin-bottom:0
}
.pricing-head h2 span{
    color:#fff;
    font-size:15px;
    display:block;
    text-transform:uppercase;
    letter-spacing:0
}
.pricing-list{
    padding:30px;
    margin:0 auto;
    display:inline-block
}
.pricing-list li{
    display:block;
    margin-bottom:10px
}
.pricing-list li i{
    color:#247ffb;
    margin-right:10px
}
.pricing-footer{
    text-align:center;
    padding:0 40px 30px
}
.testimonials-section{
    background-image:url("../img/map-pattern.png");
    background-repeat:no-repeat;
    background-position:center center;
    background-size:50%;
    width:100%;
    height:100%
}
.testi-item{
    padding:40px;
    background-color:#f9fafa;
    margin:0 10px
}
.testi-inner{
    display:flex;
    align-items:center;
    margin-bottom:20px;
    justify-content:space-between
}
.testi-item h3{
    margin-left:-100px
}
.testi-item h3 span{
    font-size:14px;
    color:#247ffb;
    font-weight:600;
    letter-spacing:0;
    font-family:heebo,sans-serif;
    display:block
}
.testi-item img{
    width:80px;
    height:80px;
    line-height:80px;
    border-radius:50%
}
.testi-item p{
    font-size:16px;
    line-height:28px;
    font-style:italic;
    margin-bottom:0
}
.ratings li{
    display:inline-block
}
.ratings li i{
    color:#fba311
}
.team-section{
}
.team-item{
    border-radius:2px;
    overflow:hidden;
    -webkit-box-shadow:0 50px 100px 0 rgba(64,1,4,.1),0 -6px 0 0 rgba(248,99,107,.004);
    box-shadow:0 50px 100px 0 rgba(64,1,4,.1),0 -6px 0 0 rgba(248,99,107,.004)
}
.team-thumb{
    position:relative;
    overflow:hidden
}
.team-thumb:before{
    background:linear-gradient(to bottom,rgba(36,127,251,0) 0%,#247ffb 100%);
    position:absolute;
    content:"";
    width:100%;
    height:100%;
    left:0;
    top:0;
    visibility:hidden;
    opacity:0;
    transform:translateY(50%);
    transition:all .3s ease
}
.team-thumb svg{
    position:absolute;
    left:0;
    bottom:0
}
.team-item:hover .team-thumb:before{
    visibility:visible;
    opacity:1;
    transform:translateY(0)
}
.team-social{
    position:absolute;
    left:50%;
    bottom:-50%;
    transform:translateX(-50%);
    transition:all .3s ease
}
.team-item:hover .team-social{
    bottom:40px;
    transition:all .3s ease
}
.team-social li{
    display:inline-block
}
.team-social li a{
    display:inline-block;
    color:#F7B500;
    font-size:15px;
    margin:0 5px
}
.team-social li a:hover{
    color:#13287c
}
.team-content{
    background-color:#fff;
    text-align:center;
    padding:20px 0
}
.team-content h3{
    margin-bottom:0
}
.team-content h3 span{
    display:block;
    font-size:14px;
    color:#247ffb
}
.counter-section{
    background-image:url("../img/blue-bg.jpg");
    background-repeat:no-repeat;
    background-position:center center;
    width:100%;
    height:100%
}
.counter-item{
    text-align:center;
    margin:0 auto
}
.counter-icon{
    background-color:#fff;
    width:100px;
    height:100px;
    line-height:100px;
    text-align:center;
    border-radius:59%;
    margin:0 auto;
    margin-bottom:20px
}
.counter-item h3{
    font-size:36px;
    color:#F7B500;
    margin-bottom:10px
}
.counter-item h4{
    color:#fff;
    margin-bottom:0
}
.faq-section{
}
.faq-section .col-md-3,.faq-section .col-md-6{
    padding:0
}
.cta-block{
    background-image:url("../img/blue-bg.jpg");
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center
}
.cta-block h2{
    font-size:72px;
    color:#F7B500;
    line-height:52px;
    margin-bottom:30px
}
.cta-block h3{
    color:#fff;
    margin-bottom:30px
}
.faq-box{
    padding:80px 50px
}
.faq-accordion{
    border-radius:2px
}
.faq-wrap{
    display:flex;
    align-items:center
}
.faq-wrap .section-heading{
}
.faq-wrap .section-heading h2{
}
.faq-wrap .section-heading p{
    margin:15px 0
}
.acc-item{
    background-color:#fff;
    border:0;
    border-radius:0
}
#accordion .acc-item:not(:last-of-type){
}
.acc-item.active-acc{
}
.acc-item h5{
    background-color:#fff;
    font-weight:600;
    color:#162466;
    margin:0;
    border-radius:0;
    transition:background-color .3s linear
}
.acc-item.active-acc h5{
    background-color:transparent;
    transition:background-color .3s linear
}
.acc-item h5 a{
    color:#13287c;
    display:block;
    padding:20px 45px;
    font-weight:600;
    font-size:16px;
    line-height:30px;
    position:relative;
    padding-left:20px;
    border:1px solid #eee
}
.acc-item h5 a:focus{
    border:1px solid #eee
}
.acc-item h5 a:before{
    content:"\f067";
    font-family:"font awesome 5 free";
    font-size:15px;
    position:absolute;
    right:20px;
    top:20px;
    color:#808291;
    transition:all .3s linear
}
.active-acc h5 a:before{
    color:#13287c;
    content:"\f068";
    transition:all .3s linear
}
.home-3-acc .active-acc h5 a:before{
    background-color:#36bba0
}
.card-body{
    border-left:1px solid #eee;
    border-right:1px solid #eee
}
.collapse.show:focus,.card-body:focus{
    border:none;
    box-shadow:none;
    outline:none
}
.faq-bg{
    background-image:url("../img/faq-bg.jpg");
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    width:100%;
    height:100%
}
.page-header{
    background-image:url("../img/blue-bg.jpg");
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    width:100%;
    height:400px;
    display:flex;
    align-items:center;
    position:relative;
    z-index:1
}
.page-content{
}
.page-content h2{
    color:#fff;
    font-size:42px
}
.page-content p{
    color:#ddd;
    margin:0;
    font-weight:500
}
.blog-wrap{
}
.blog-item{
    border-radius:3px;
    box-shadow:0 1px 3px rgba(0,0,0,.1);
    overflow:hidden
}
.blog-item .blog-thumb{
    position:relative
}
.blog-item .blog-thumb .category{
    background-color:#F7B500;
    padding:5px 15px;
    text-align:center;
    color:#13287e;
    font-size:14px;
    font-weight:600;
    font-family:heebo,sans-serif;
    position:absolute;
    width:auto;
    height:auto;
    left:0;
    bottom:0
}
.blog-item .blog-thumb .category a{
    color:#13287e
}
.blog-item .blog-thumb img{
    width:100%;
    margin:0
}
.blog-content{
    background-color:#fff;
    padding:30px
}
.blog-content h3{
    line-height:24px
}
.blog-content h3 a{
    color:#13287c;
    font-size:18px;
    line-height:24px
}
.blog-content h3 a:hover{
    color:#2550de
}
.blog-content .read-more{
    font-family:heebo,sans-serif;
    color:#13287c;
    font-size:12px;
    font-weight:600;
    text-transform:uppercase;
    position:relative;
    padding-left:40px
}
.blog-content .read-more:hover{
    color:#2550de
}
.blog-content .read-more:before{
    background-color:#2550de;
    position:absolute;
    content:"";
    width:30px;
    height:4px;
    left:0;
    top:calc(50% - 2px)
}
.pagination-wrap{
}
.pagination-wrap li{
    display:inline-block;
    margin:0 5px
}
.pagination-wrap.text-left li{
    margin:0 10px 0 0
}
.pagination-wrap li a{
    border:1px solid #e5e5e5;
    display:inline-block;
    width:40px;
    height:40px;
    line-height:38px;
    text-align:center;
    color:#13287c;
    font-weight:600;
    border-radius:2px
}
.pagination-wrap li a:hover{
    background-color:#2550de;
    color:#fff;
    opacity:1;
    text-decoration:none
}
.pagination-wrap li a.active{
    background-color:#071272;
    border:1px solid #071272;
    color:#fff
}
.blog-thumb{
}
.blog-thumb img{
    margin-bottom:20px;
    width:100%
}
.blog-single-content{
}
.blog-single-content h2 a{
    font-size:28px;
    color:#13287c
}
.blog-single-content h2 a:hover{
    color:#2550de
}
.single-post-meta{
    margin-bottom:20px
}
.single-post-meta li{
    display:inline-block;
    margin-right:20px
}
.single-post-meta li i{
    font-size:12px;
    color:#2550de;
    margin-right:5px
}
.single-post-meta li a{
    display:inline-block;
    font-family:heebo,sans-serif;
    text-transform:uppercase;
    font-size:12px;
    font-weight:600;
    color:#13287c
}
blockquote{
    background-color:#f5f5f5;
    padding:40px;
    border-left:4px solid #2550de;
    margin:30px 0;
    position:relative;
    z-index:1
}
blockquote .dots{
    width:100%;
    height:100%;
    left:0;
    top:0;
    background:url("https://html.dynamiclayers.net/te/cleanz/assets/img/bg-dots.png") 0 0 repeat;
    z-index:-1
}
blockquote p{
    color:#13287c;
    font-size:20px
}
blockquote span{
    display:block;
    margin-top:20px;
    color:#13287c
}
.post-tags{
    margin-top:30px
}
.post-tags li{
    display:inline-block
}
.post-tags li a{
    display:inline-block;
    background-color:#2550de;
    padding:5px 10px;
    border-radius:2px;
    font-size:12px;
    color:#fff;
    margin:3px
}
.post-tags li a:hover{
    background-color:#13287c;
    color:#fff;
    box-shadow:0 1px 3px rgba(0,0,0,.1)
}
.author-box{
    display:flex;
    align-items:center;
    padding:30px;
    margin-top:30px;
    border-left:4px solid #2550de
}
.author-box img{
    border-radius:50%
}
.author-info{
    padding-left:30px
}
.author-info h3{
    font-size:18px;
    line-height:28px;
    margin-bottom:5px
}
.author-box .social-icon{
}
.author-box .social-icon li{
    display:inline-block;
    margin-right:8px
}
.author-box .social-icon li a{
    font-size:14px;
    color:#13287c
}
.author-box .social-icon li a:hover{
    color:#2550de
}
.post-navigation{
    border:1px solid #e5e5e5;
    margin-top:40px;
    margin-left:0;
    margin-right:0
}
.post-navigation .col{
    padding:20px
}
.post-navigation .col:not(:last-of-type){
    border-right:1px solid rgba(17,17,17,.04)
}
.post-navigation .col a{
    color:#13287c;
    font-size:12px;
    text-transform:uppercase;
    font-family:heebo,sans-serif;
    font-weight:600;
    display:flex;
    align-items:center
}
.post-navigation .col.next-post a{
    justify-content:flex-end
}
.post-navigation .col i{
    display:inline-block;
    font-size:14px
}
.post-navigation .ti-arrow-left{
    margin-right:10px
}
.post-navigation .ti-arrow-right{
    margin-left:10px
}
.post-navigation .col a:hover{
    color:#2550de
}
.post-navigation .col.prev-post .fa{
    margin-right:10px
}
.post-navigation .col.next-post .fa{
    margin-left:10px
}
.blog-single-wrap .comments-area{
    margin-top:40px
}
.blog-single-wrap .comments-area .comments{
    border-bottom:0
}
.blog-single-wrap .comments-area li>div{
    border-bottom:1px solid rgba(17,17,17,.05);
    padding:35px
}
.blog-single-wrap .comments-area ol{
    list-style-type:none;
    padding-left:0
}
.blog-single-wrap .comments-area ol ul{
    padding-left:30px;
    list-style-type:none;
    margin:0
}
.blog-single-wrap .comments-area ol>li:last-child div{
    border-bottom:0
}
.blog-single-wrap .comments-area .comments-title{
    font-size:22px;
    font-weight:600
}
.blog-single-wrap .comments-area li>div{
    position:relative
}
.blog-single-wrap .comments-area .comment-thumb{
    position:absolute;
    left:35px
}
.blog-single-wrap .comments-area .comment-thumb .comment-img{
    width:80px;
    height:80px;
    border-radius:50%
}
.blog-single-wrap .comments-area .comment-thumb .comment-img img{
    border-radius:50%
}
.blog-single-wrap .comments-area .comment-main-area{
    padding-left:100px
}
.blog-single-wrap .comments-area .comment-main-area p{
    margin-bottom:20px
}
.blog-single-wrap .comments-area .comments-meta h4{
    font-family:heebo,sans-serif;
    font-size:18px;
    font-weight:600;
    letter-spacing:-1px
}
.blog-single-wrap .comments-area .comments-meta h4 span{
    font-family:heebo,sans-serif;
    font-weight:600;
    text-transform:none;
    display:inline-block;
    font-size:12px;
    margin-left:5px;
    letter-spacing:0
}
.blog-single-wrap .comments-area .comment-reply-link{
    font-family:heebo,sans-serif;
    font-size:12px;
    font-weight:600;
    color:#2550de;
    display:inline-block;
    text-transform:uppercase;
    padding-left:35px;
    position:relative
}
.blog-single-wrap .comments-area .comment-reply-link:before{
    background-color:#2550de;
    position:absolute;
    content:"";
    width:30px;
    height:2px;
    left:0;
    top:calc(50% - 1px)
}
.blog-single-wrap .comments-area .comment-reply-link:hover{
    text-decoration:underline
}
.blog-single-wrap .comment-respond{
}
.blog-single-wrap .comment-respond .comment-reply-title{
    font-size:22px;
    font-weight:600;
    letter-spacing:-1px;
    margin-bottom:20px
}
.blog-single-wrap .comment-respond form input,.blog-single-wrap .comment-respond form textarea{
    background-color:#f5f5f5;
    border:1px solid #e5e5e5;
    width:100%;
    height:50px;
    padding:6px 15px;
    margin-bottom:15px;
    outline:0;
    -webkit-box-shadow:none;
    box-shadow:none;
    transition:all .3s
}
.blog-single-wrap .comment-respond form input:focus,.blog-single-wrap .comment-respond form textarea:focus{
    border-color:#2550de
}
.blog-single-wrap .comment-respond form textarea{
    height:200px;
    padding:15px
}
.blog-single-wrap .comment-respond .form-inputs{
    overflow:hidden
}
.blog-single-wrap .comment-respond .form-inputs>input:nth-child(2){
    width:49%;
    float:left
}
.blog-single-wrap .comment-respond .form-inputs>input:nth-child(3){
    width:49%;
    float:right
}
.blog-single-wrap .comment-respond .form-submit input{
    font-family:heebo,sans-serif;
    max-width:180px;
    background-color:#2550de;
    color:#fff;
    font-weight:600;
    font-size:12px;
    letter-spacing:1px;
    margin-bottom:0;
    border:0;
    outline:0;
    cursor:pointer;
    border-radius:0;
    text-transform:uppercase
}
.blog-single-wrap .comment-respond .form-submit input:hover{
    opacity:.9
}
.sidebar-wrap{
    padding-left:40px
}
.sidebar-wrap .widget-content:not(:last-of-type){
    margin-bottom:40px
}
.sidebar-wrap .widget-content h4{
    position:relative;
    margin-bottom:30px
}
.sidebar-wrap .widget-content h4:before{
    background-color:#2550de;
    position:absolute;
    content:"";
    width:20%;
    height:3px;
    left:0;
    bottom:-5px
}
.sidebar-wrap .widget-content .widget-links li a:hover{
    text-decoration:underline
}
.search-form{
    position:relative;
    margin-left:-2px
}
.search-form .form-control{
    background-color:#f5f5f5;
    box-shadow:none;
    width:100%;
    display:block;
    border:1px solid #e5e5e5;
    color:#13287c;
    height:auto;
    padding:15px 20px;
    border-radius:2px;
    padding-right:60px
}
.search-form .search-btn{
    background-color:transparent;
    font-size:15px;
    color:#13287c;
    width:60px;
    height:100%;
    position:absolute;
    top:0;
    right:0;
    display:block;
    padding:10px 0;
    opacity:.6;
    border:none
}
.search-form .search-btn:focus,.search-form .search-btn:hover{
    opacity:1;
    cursor:pointer
}
.search-form input::-webkit-input-placeholder{
    color:#8d9aa8!important
}
.search-form input:-moz-placeholder{
    color:#8d9aa8!important
}
.search-form input::-moz-placeholder{
    color:#8d9aa8!important
}
.search-form input:-ms-input-placeholder{
    color:#8d9aa8!important
}
.thumb-post{
}
.thumb-post li{
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flex;
    display:-o-flex;
    display:flex;
    align-items:top;
    margin-bottom:20px
}
.thumb-post li:last-child{
    margin-bottom:0
}
.thumb-post li img{
    width:100px;
    display:block
}
.thumb-post li a{
    font-family:heebo,sans-serif;
    font-size:15px;
    font-weight:600;
    color:#13287c;
    padding-left:15px;
    letter-spacing:-.5px
}
.thumb-post li a:hover{
    color:#2550de;
    text-decoration:underline
}
.widget-content .tags{
}
.widget-content .tags li{
    display:inline-block
}
.widget-content .tags li a{
    display:inline-block;
    background-color:#2550de;
    padding:5px 10px;
    border-radius:2px;
    font-size:12px;
    color:#fff;
    margin:3px
}
.widget-content .tags li a:hover{
    background-color:#13287c;
    color:#fff;
    box-shadow:0 1px 3px rgba(0,0,0,.1)
}
.widget-content ul{
    margin:0;
    padding:0;
    list-style:none
}
.widget-content ul li a{
    color:#6a7695;
    line-height:1.9
}
.widget-content ul li a:hover{
    color:#2550de
}
.contact-section{
    background-image:url("../img/map-pattern.png");
    background-repeat:no-repeat;
    background-position:center center;
    background-size:60%;
    width:100%;
    height:100%
}
.contact-form{
}
.contact-info{
}
.contact-info h4{
    line-height:30px
}
.contact-info h4 span{
    margin-right:10px
}
.contact-form .form-control{
    background-color:#fff;
    border:1px solid #ddd;
    height:50px;
    border-radius:2px
}
.contact-form .form-control.message{
    height:200px
}
.contact-form .default-btn{
    color:#13287c
}
.contact-form .default-btn:hover{
    color:#fff
}
.footer-section{
}
.footer-item{
}
.footer-item .logo{
    margin-bottom:20px;
    display:block
}
.footer-item p{
    margin-bottom:20px
}
.footer-item .certified{
}
.footer-item .certified li{
    display:inline-block;
    margin-right:15px
}
.footer-item .certified li img{
    width:35px
}
.footer-social{
}
.footer-social li{
    display:inline-block;
    margin-right:10px;
    font-size:20px;
    color:#F7B500
}
.footer-social li a{
    color:#247ffb
}
.footer-social li a:hover{
    color:#13287c
}
.subscribe-form{
}
.subscribe-form .form-input{
    width:79%;
    height:50px;
    border:1px solid #eee;
    margin:0;
    padding:0 10px;
    border-radius:2px;
    outline:none;
    box-shadow:none
}
.subscribe-form .submit-btn{
    width:50px;
    height:50px;
    line-height:50px;
    text-align:center;
    background-color:#F7B500;
    color:#13287c;
    border-radius:2px;
    outline:none;
    box-shadow:none
}
.subscribe-form .form-input:focus{
    border:1px solid #F7B500
}
.subscribe-form .submit-btn i{
    font-size:20px
}
.copyright{
    padding:25px 0;
    border-top:1px solid #eee;
    margin-bottom:0
}
.copyright a{
    color:#247ffb;
    margin-right:10px
}
.copyright a:last-child{
    margin:0
}
.copyright a:hover{
    text-decoration:underline
}
@media(max-width:1024px){
    .header-menu-wrap ul li>a{
        padding:0 10px
    }
}
@media(max-width:1200px){
    .sm-padding{
        padding:15px
    }
    .sidebar-wrap{
        padding-left:0;
        margin-top:20px
    }
    .section-heading h2{
        font-size:32px;
        line-height:38px
    }
    .about-btn li{
        display:inline-block
    }
    .booking-form{
        margin:0;
        padding:30px 20px
    }
    .booking-form .nice-select.form-control span{
        font-size:12px
    }
    .booking-form .nice-select .option{
        font-size:10px
    }
    .form-heading h2{
        font-size:24px
    }
    .testi-item h3{
        margin-left:0
    }
    .cta-content h2{
        font-size:36px;
        line-height:42px
    }
    .cta-section svg{
        bottom:0
    }
}
@media all and (max-width:767px){
    .padding{
        padding:60px 0
    }
    .xs-padding{
        padding:15px
    }
    p br{
        display:none
    }
    .sidebar-wrap{
        padding-left:0
    }
    .blog-single-content h2 a{
        font-size:22px;
        line-height:28px
    }
    .blog-single-content h2{
        line-height:28px
    }
    blockquote p{
        line-height:32px
    }
    .cta-block-content{
        padding:50px 0
    }
    .cta-block-content h2{
        font-size:42px;
        margin-bottom:10px
    }
    .page-content h2{
        font-size:32px
    }
}
@media all and (max-width:580px){
    .header-3 a.header-btn,.header-1 a.header-btn{
        display:none
    }
    .top-left{
        width:100%;
        padding:15px 0;
        text-align:center
    }
    .top-bar .top-left li{
        font-size:14px;
        display:block;
        padding:0;
        line-height:1
    }
    .top-bar .top-left li:not(:last-of-type){
        margin-bottom:10px
    }
    .primary-header-inner .header-right{
        margin-left:0
    }
    .header-right a.dl-btn{
        padding:3px 10px;
        font-size:14px;
        line-height:32px;
        margin:0;
        margin-left:15px
    }
    .primary-header-two .header-right a.dl-btn{
        padding:5px 15px
    }
    .header-three .top-bar .top-left li,.header-three .top-bar .top-left li:first-child{
        border:none
    }
    .header-one .header-right .dl-btn{
        display:none
    }
    #scrollup{
        bottom:20px;
        right:20px
    }
}
@media all and (max-width:420px){
}
@media(max-width:320px){
    .primary-header .header-logo{
        max-width:122px
    }
    .header-right .mobile-menu-icon{
        margin-left:10px
    }
}
