*{
    margin: 0;
    padding: 0;
}
$red: #AE0001;
$yellow: #F7B500;
$blue: #071272;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}
@mixin float {
    display: inline-block;
    width: 100%;
}

.container{
    width: 1557px !important;
    max-width: 1557px !important;
}
.box-services{
    border: 1px solid $blue;
    padding: 8px 15px;
    border-radius: 4px;
    h2{
        text-transform: uppercase;
        color: $blue;
        font-size: 18px;
        margin: 0 0 14px 0;
    }
    ul{
        padding: 0;
        li{
            margin: 0;
            @include float();
            padding: 0;
            a{
                @include float();
                padding: 9px 0;
                color: $blue;
                border-bottom: 1px solid #9CA0C7;
                font-size: 15px;
                &:hover{
                    color: $yellow;
                }
            }
            &:nth-last-child(1){
                a{
                    border-bottom: 0;
                }
            }
        }
    }
}
.header-menu-wrap ul li > a.active{
    color: $red;
}
.container-pagemain{
    width: 1170px;
    margin: auto;
}

.filter-head{
    width: 100%;
    display: inline-block;
    position: relative;
    padding: 0 215px;
    margin-top: 30px;
    .select-box-project{
        float: left;
        margin-right: 20px;
        width: 200px;
        select, .nice-select.form-control{
            width: 100%;
            background: $blue;
            color: #fff;
            ul{
                li{
                    color: #222 !important;
                    font-size: 14px;
                }
            }
            span{
                float: left;
                margin-top:-6px;
                color: #fff;
            }
        }
    }
}
.year-box{
    width: 100px !important;
}
.breadcrumb{
    font-size: 24px;
    background: none;
    color: $blue;
}

.content-editor{
    h1{
        font-size: 48px;
        color: $yellow;
        font-weight: normal;
        margin-bottom: 30px;
    }
    p{
        font-size: 18px;
        font-weight: normal;
        color: #000;
        text-align: justify;
        line-height: 30px;
    }
}
.project-head{
    background: url(../img/head-project.png) no-repeat center bottom !important;
    .title-head-page{
        h2{
            font-size: 55px;
            margin-bottom: 30px;
        }
        p{
            font-size: 24px;
        }
    }
}
.social-sticky-right{
    position: fixed;
    width: 40px;
    top: 230px;
    right: 0;
    a{
        @include float();
        text-align: center;
    }
    img{
        
        height: 23px;
        margin-bottom: 10px;
    }
}
.top-right{
    float: right;
    width: 100%;
    text-align: right;
    padding-top: 10px;

    .ti-search{
        color: $blue;
        cursor: pointer;
        font-size: 21px;
    }
    ul{
        padding: 0;
        margin: 0;
        li{
            padding-left: 40px;
        }
    }
    img{
        height: 19px;
        float: left;
        margin-top: 3px;
        margin-right: 6px;
    }

    span{
        color: $blue;
        font-size: 18px;
    }
}
.header-menu-wrap ul {
    margin-right: -20px;
    margin-top: 30px;
}
.sticky-fixed-top{
    .header-logo{
        top: 4px;
        max-width: inherit;
        img{
            height: 60px;
            max-width: inherit !important;
        }
    }
}
.profile-section{
    float: left;
    width: 100%;
    padding: 100px 0;
    background: #262626;
    span{
        text-transform: uppercase;
        font-size: 18px;
        color: #fff;
    }

    h2{
        font-size: 48px;
        margin: 30px 0;
        line-height: 50px;
        color: #fff;
        font-weight: normal;
    }
    a{
        color: #fff;
        img{
            height: 20px;
            margin-left: 30px;
        }
        &:hover{
            color: $yellow;
        }
    }
}
.project-page{

}
.connect-box{
    background: url(../img/connect-bg.png) no-repeat center top;
    padding: 60px 0;
    @include float();
    float: left;
    .left-connect{
        float: left;
        color: #fff;
        span{
            color: #fff;
            font-size: 18px;
            text-transform: uppercase;
        }
        h2{
            font-size: 60px;
            font-weight: 600;
            line-height: 60px;
            margin-top: 20px;
            color: #fff;
        }
        a{
            background: $yellow;
            padding: 15px 30px;
            font-size:14px;
            text-transform: uppercase;
            display: inline-block;
            border-radius: 5px;
            margin-top: 20px;
            color: #fff;
        }
    }
    .right-connect{
        float: right;
        padding-right: 20%;
        p{
            font-size: 21px;
            margin-bottom: 50px;
            color: #fff;
            b{
                font-weight: bold;
            }
        }
    }
}
.item-project{
    position: relative;
    margin-bottom: 30px;
    img{
        width: 100%;
    }
    .title-project{
        position: absolute;
        bottom: 0;
        padding: 10px 15px;
        left: 0;
        width: 100%;
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0) 60.1%);
        h6{
            a{
                color: #fff;

                font-weight: bold;
                font-size: 24px;
            }
        }
        p{
            font-size: 16px;
            color: #fff;
        }
    }
}
.title-services{
    padding-left: 60px;
    position: relative;
    label{
        position: absolute;
        left:0;
        color: #fff;
        top: 0;
    }
}
.title-section{
    @include float();
    position: relative;
    margin-bottom: 20px;
    h2{
        color: #fff;
        font-size: 48px;
        font-weight: 600;
    }
    .link-sect{
        position: absolute;
        right: 0;
        top: 0;
        img{
            height: 20px;
        }
        a{
            color: #fff;
        }
    }
    &.black{
        h2{
            color: $blue;
            font-size: 32px;
            font-weight: 600;
        }
        .link-sect{
            position: absolute;
            right: 0;
            top: 0;
            img{
                height: 20px;
                margin-left: 30px;
            }
            a{
                color: $blue;
            }
        }
    }
}
.dl-slider .slick-dots li button {
    background-color: #222;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
.dl-slider .slick-dots li.slick-active button{
    background:$yellow;
}
.services-box{
    background: #000;
    padding: 50px 0;
}
.logo-partner-content{
    float: right;
    width: 55%;
    a{
        width: 33.3%;
        float: left;
        padding: 0 15px;
        margin-bottom: 30px;
    }
    img{
        width: 100%;
    }
}
.box-head-project{
    width: 100%;
    margin: 40px 0;
    display: flex;
    position: relative;
    padding: 0 15px;
    .search-form .form-control{
        padding: 8px 20px;
        background: $blue;
        color: #fff;
        font-size: 14px;
        border-radius: 4px;
    }
    .filter-project{
        position: absolute;
        top: 0;
        right: 15px;
        .select-box-project{
            float: left;
            margin-right: 20px;
            width: 200px;
            select, .nice-select.form-control{
                width: 100%;
                background: $blue;
                color: #fff;
                ul{
                    li{
                        color: #222 !important;
                        font-size: 14px;
                    }
                }
                span{
                    float: left;
                    margin-top:-6px;
                    color: #fff;
                }
            }
        }
        .search-box{
            float: left;
            width: 300px;
            font-size: 14px;
            border-radius: 4px;
            i{
                color: #fff;
            }
            button{
                padding-top: 7px;
                width: 36px;
            }
        }
    }
}
.search-box-news{
    float: right;
    width: 300px;
    
    .form-control {
        padding: 8px 20px;
        background: #071272;
        color: #fff;
        font-size: 14px;
        border-radius: 4px;
    }
    i{
        color: #fff;
    }
    button{
        padding-top: 7px !important;
        width: 36px !important;
    }
    .search-box{
        float: left;
        width: 300px;
        font-size: 14px;
        border-radius: 4px;
        
    }
}
.box-head-project {
    display: inline-block;
    p{
        color: $blue;
    }
}
.news-page{
    background: none !important;

    padding-top: 0 !important;
}
.filter-news{
    .select-box-project{
        margin-right: 0 !important;
        width: 160px !important;
    }
    .nice-select.form-control{
        background: none !important;
        color: $blue !important;
        span{
            color: $blue !important; 
        }
    }
}
.services-box{
    margin-top: 60px;
    .project-item{
        padding: 0 10px;
        img{
            width: 100%;
            @include float();

            margin-bottom:20px;
        }
        a{
            opacity: .8;
            &:hover{
                p{
                    color: $yellow;
                }
            }
            p{
                color: #fff;
                font-size: 26px;
            }
        }
        span{
            color: #fff;
            opacity: .7;
        }
    }
}
.project-box{
    display: inline-block;
    width:100%;
    background:url(../img/bg-projectt.png) repeat-y center top;
    padding:60px 0;
}
.partner-box{
    display: inline-block;
    width:100%;
    background:url(../img/bg-projectt.png) repeat-y center top;
    padding:0 0 60px 0;
    .title-section{
        margin-bottom: 0;
        h2{
            float: left;
            width: 45%;
        }
        p{
            float: left;
            width: 55%;
            font-size: 18px;
        }
    }
}
.news-box{
    display: inline-block;
    width:100%;
    background:url(../img/bg-projectt.png) repeat-y center top;
    padding:60px 0;
    .title-project{
        a{
            color:#fff;
        }
        img{
            width: auto;
            height: 15px;
            margin-left: 15px;
        }
    }
}
.img-bg-contact{
    @include float();
    img{
        width: 100%;
    }
}
footer{
    float: left;
    width: 100%;
    &.footer-section{
        background: #000;
        padding: 60px 0;
    }
}
.item-footer{
    margin-top: 80px;
    h3, p{
        text-align: left;
        color: #fff;
    }
}
.footer-item{
    text-align: center;
    h6{
        color: #fff;
        font-weight: bold;
        text-align: left;
        font-size: 18px;
    }
}
.infor-contact{
    h3{
        font-weight: normal;
        text-transform: uppercase;
        font-size: 24px;
        @include float();
        margin-bottom: 30px;
    }
    .item-contacts{
        p{
            font-size: 21px;
            color: #000;
            line-height: 35px;
        }
    }
}
.phone-email-footer{
    margin-top: 40px;
}
.menu-footer{
    ul{
        padding: 0;
        margin: 0;
        li{
            float: left;
            width: 50%;
            a{
                width: 100%;
                font-size: 18px;
                text-align: left;
                color: #fff;
                display: inline-block;
            }
        }
    }
}
.btn-contact{
    a{
        text-transform: uppercase;
        font-size: 14px;
        color: #fff !important;
        margin-bottom: 60px;
    }
}
.item-form-contact{
    @include float();
    margin-bottom: 30px;
    label{
        @include float();
    }
    .nice-select.form-control{
        @include float();
    }
    select{
        @include float();
    }
    input{
        &::placeholder{
            font-size: 14px;
        }
    }
}
.item-form-contact{
    input, textarea{
        background: #f1f1f1 !important;
    }
}
.item-form-contact .nice-select.form-control {
    background: #f1f1f1 !important;
}
.maps-section{
    float: left;
    width: 100%;
    iframe{
        float: left;
    width: 100%;
        height: 300px;
    }
}
.flag-box{
    display: inline-block;
    width: 100%;
    text-align: right;
    margin: 10px 0;
    position: absolute;
    right: -20px;
    z-index: 3;

    img{
        height: 30px;
        margin-left: 10px;
    }
}
.header-menu-wrap{
    position: relative;
}
.pagging-page{
    @include float();
    text-align: center;
    padding:0 0 50px 0;
}
.services-page{
    margin-top: 50px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
}

.project-page-services{
    background: #fff !important;
}
.infor-contact{
    padding:50px 0;
}
.contact-form{
    @include float();
    form{
        @include float();
        margin-top: 0px;
        border-top: 1px solid #ddd;
        padding-top: 60px;
        label{
            color: #000;
            font-size: 18px;
        }
    }
}
@media(max-width:1650px){
    .container{
        width: 1170px !important;
        max-width: 1170px !important;
    }
    .top-right ul li {
        padding-left: 10px;
    }
    .header-menu-wrap ul li>a {
        font-size: 21px;
        padding: 0 0 0 15px;
    }
    .top-right span {
        font-size: 16px;
    }
    .box-services ul li a {
        padding: 4px 0;
    }
    .box-services h2 {
        margin: 0;
    }
    .box-services {
        padding: 3px 15px;
    }
}

@media(max-width:1200px){
    .filter-head {
        padding: 0 0px;
    }
    .project-head {
        background: url(../img/head-project.png) no-repeat center bottom !important;
        float: left;
        margin-top: 20px;
    }
    .right-connect{
        float: right;
        padding-right: 0 !important;
    }
    .container-pagemain {
        width: 95% !important;
        max-width: 95% !important;
    }
    .container{
        width: 95% !important;
        max-width: 95% !important;
    }
    .primary-header .header-logo {
        position: relative;
        top: 0;
    }
    .header-menu-wrap {
        position: fixed;
        top: 74px;
        right: 0;
        width: 300px;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    }
    .header-menu-wrap ul {
        margin-right: 0;
        margin-top: 30px;
    }
    .flag-box {
        display: inline-block;
        width: 100%;
        margin: 10px 0;
        position: relative;
        right: 10px;
        z-index: 3;
        text-align: left;
        padding: 0 20px;
    }
    .header-menu-wrap ul {
        margin-right: 0;
        margin-top: 0;
    }
    .list-category-services, .slide-homepage{
        width: 100%;
        flex: 0 0 100%;
        margin-bottom: 20px;
    max-width: 100%;
    }
    .sticky-header .primary-header-inner {
        padding: 5px 0 10px 0;
    }
}
@media(max-width:767px){
    .right-connect{
        float: right;
        padding-right: 0;
    }

    .header-menu-wrap {
        position: fixed;
        top: 54px !important;
    }
    .sticky-fixed-top .header-logo img {
        height: 42px;
        max-width: inherit !important;
    }
    .header-menu-wrap {
        width: 100%;
    }
    .title-section .link-sect {
        position: relative !important;
        right: 0 !important;
        top: 0 !important;
        float: right !important;
    }
    .title-section h2 {
        color: #fff;
        font-size: 31px;
        font-weight: 600;
    }

    .partner-box .title-section h2, .partner-box .title-section p, .logo-partner-content {
        float: left;
        width: 100%;
    }
    .logo-partner-content a{
        width: 50% !important;
    }
    .primary-header .header-logo {
        top: 3px;
    }
    .left-connect{
        margin-bottom: 30px;
    }
    .right-connect br{
        display: block !important;
    }
    .connect-box .right-connect {
        float: right;
        width: 100%;
        p{
            line-height: 30px;
        }
    }
    .connect-box .left-connect h2 {
        font-size: 42px;
        font-weight: 600;
        line-height: 45px;
        margin-top: 20px;
        color: #fff;
    }
    .item-footer, .phone-email-footer{
        margin-top: 0;
    }
    .menu-footer ul{
        margin-bottom: 30px;
        float: left;
        width: 100%;
    }
    .profile-section h2 {
        font-size: 32px;
        line-height: 40px;
    }
    .box-head-project .filter-project {
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
    }
    .box-head-project {
        display: inline-block;
    }
    .box-head-project .filter-project .select-box-project, .box-head-project .filter-project .search-box, .filter-head .select-box-project, .filter-head .select-box-project, .search-box-news {
        float: left;
        margin-right: 0;
        margin-bottom: 10px;
        width: 100% !important;
    }
    .box-head-project{
        padding: 0 !important;
    }
    .box-head-project .search-form .form-control {
        padding: 8px 20px;
        background: #071272;
        color: #fff;
        border-radius: 4px;
        margin-top: 10px;
    }
    .search-form .search-btn {
        width: 40px;
    }
    .content-editor h1{
        font-size: 32px;
        line-height: 40px;
    }
    .infor-contact h3{
        margin-bottom: 0;
    }
    .infor-contact {
        margin-top: 30px;
        padding: 0;
    }
    .contact-form{

        .row{
            margin: 0 !important;
        }
    }
    .breadcrumb{
        margin-top: 30px;
    }
    .item-form-contact{

        padding: 0;
    }
}